.content{
	margin: 20px auto;
}
.logo{
	margin: 0 auto;
	width: 50px;
	height: 50px;
	background-image: linear-gradient(45deg,#ff531a,#ff9d25);
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
}
.logo p{
	font-size: 30px;
	color: white;
}
input{
	width: 90%;
	border-bottom: 1px solid #FF4E22;
	margin: 40px 0 10px 15px;
	text-indent: 2em;
}
a{
	float: right;
	margin-right: 25px;
	margin-top: 25px;
}
#btn1{
	margin-top: 60px;
	width: 90%;
	height: 40px;
	margin-left: 20px;
	border-radius: 20px;
	border: none;
	background-image: linear-gradient(to right,#ff9d25,#ff531a);
	color: white;
}
#reg{
	width: 80%;
	height: 30px;
	margin: 40px auto;
	display: none;
}
.success{
	background-color: #63A35C;
}
.danger{
	background-color: #ff7053;
}
